<!doctype html>
<html>
<head>
  <title>Datastore and Firebase Auth Example</title>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.js"></script>
  <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.css" />
</head>
<body>
  <!-- The core Firebase JS SDK is always required and must be listed first -->
  <script src="https://www.gstatic.com/firebasejs/8.1.1/firebase-app.js"></script>

  <script src="https://www.gstatic.com/firebasejs/7.8.0/firebase-auth.js"></script>

  <script src="https://www.gstatic.com/firebasejs/8.1.1/firebase-analytics.js"></script>

  <script src="{{ url_for('static', filename='firebase.js') }}"></script>

  <h1>Datastore and Firebase Auth Example</h1>

  <div id="firebaseui-auth-container"></div>

  <button id="sign-out" hidden=true>Sign Out</button>

  <div id="login-info" hidden=true>
    <h2>Login info:</h2>
    {% if user_data %}
      <dl>
        <dt>Name</dt><dd>{{ user_data['name'] }}</dd>
        <dt>Email</dt><dd>{{ user_data['email'] }}</dd>
        <dt>Last 10 visits</dt><dd>
          {% for time in times %}
            <p>{{ time['timestamp'] }}</p>
          {% endfor %} </dd>
      </dl>
    {% elif error_message %}
      <p>Error: {{ error_message }}</p>
    {% endif %}
  </div>

</body>
</html>
